@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Source+Sans+Pro');
body,html{
    margin:0;
    padding: 0;
    width :100%;
}

#principal{
	padding: 10px;	
	background-color:#ccc;
	width :100%;
}

#cabecalho {
	height: 170px;
	padding: 1%;
	background-color:#485460;
	border-radius: 5px;
}
#foto{
	width: 170px;
	height: 200px;
	margin-top: 12px;
	float: right;
	border-radius: 5px;

}
#menu{
	float: left;
	margin-top: 10px;
	margin-left: 6%;
	
}
.item-menu{
	color: #fff;
	text-decoration:none;
	font-size: 35px; 
	padding: 32px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 170px;
}


b{
	color: #fff;
}
h3{
	color: #000;
	text-align-last: left;
}
p{
	color: #000;
}
#conteudo{
	background-color: #fff;
	margin: 0 auto;
	padding: 15px;
	margin-top: 28px;
	width: 85%;
	height: 750px;
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-box-shadow: 0px -1px 29px 3px rgba(105,102,105,1);
	-moz-box-shadow: 0px -1px 29px 3px rgba(105,102,105,1);
	box-shadow: 0px -1px 29px 3px rgba(105,102,105,1);
}
.item-conteudo{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}